 #result-card {
     display: none;
     margin-top: 20px;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     text-align: center;
 }

 .banner_content p {
     text-align: justify;
 }


 .myButton {
     box-shadow: 0px 10px 14px -7px #276873;
     background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
     background-color: #ffe400;
     border: none;
     border-radius: 8px;
     display: inline-block;
     cursor: pointer;
     color: #ffffff;
     font-family: Arial;
     font-size: 20px;
     font-weight: bold;
     padding: 10px 25px;
     text-decoration: none;
     text-shadow: 0px 1px 0px #3d768a;
 }

 .myButton2{
     background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
     background-color: #ffe400;
     border: none;
     border-radius: 5px;
     text-align: center;
     display: block;
     cursor: pointer;
     color: #ffffff;
     font-family: Arial;
     font-size: 15px;
     font-weight: bold;
     padding: 7px 20px;
     text-decoration: none;
     text-shadow: 0px 1px 0px #3d768a;


 }

 .myButton:hover {
     background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
     background-color: #408c99;
 }

 .myButton:active {
     position: relative;
     top: 1px;
 }

 .form_card {
     padding: 20px;
     margin: 37px 30px;
 }
.footer_class p{
    padding: 10px;
    text-align: center;
    margin: 0px;
 }

 /* Card Area CSS */
.card {
  position: relative;
}

.card .single-card:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 2px;
  height: 0;
  background-color: #408c99 ;
  transition: .3s;
}
.card .single-card:hover:before {
  height: 100%;
}
.card .single-card:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  background-color: #408c99;
  transition: .3s;
}
.card .single-card:hover:after {
  height: 100%;
}

.card-body h5 {
  color: #408c99 ;
}

.section-title {
  margin-top: 50px;
}
.section-title h4 {
	text-transform: capitalize;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	position: relative;
	padding-bottom: 20px;
}
.section-title h4:before {
  position: absolute;
  content: "";
  width: 110px;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: #408c99 ;
  transform: translateX(-50%);
}
.section-title h4:after {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #408c99;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    bottom: -4px;
  }

.section-title p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}



